@model Tenis

<div class="col-sm-4 col-md-4 col-lg-4">
    <p><img src="@Model.ImagemUrl" class="img-fluid"></p>
    <h3>Preço : @Model.Preco.ToString("c")</h3>

    <h4>
        <a asp-controller="Tenis" asp-action="Details"
           asp-route-tenisId="@Model.TenisId">@Model.TenisNome</a>
    </h4>

    <p>@Model.Descricao</p>
    <div>
        <p class="button">
            <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra"
               asp-action="AdicionarItemNoCarrinhoCompra" asp-route-TenisId="@Model.TenisId">
                Incluir no Carrinho
            </a>
        </p>
    </div>

</div>